@import 'tailwindcss';
@import 'vazirmatn/Vazirmatn-Variable-font-face.css';
@plugin "daisyui" {
  themes: autumn --default, dracula --prefersdark;
}

body {
  font-family: vazirmatn, tahoma;
  margin: auto;
  max-width: 600px;
}